<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<body>

    <h1>무한매수법 코인 옵션을 선택하세요.</h1>


    <form action="/addCoin" method="post" id="coin">

        <div class="form-group">

<!--            <select class="form-control" th:field="*{tickerNames}" form="coin" th:name="coinName" th:selected="true">-->
<!--                <option th:each="tickerName : ${tickerNames}" th:value="${tickerName}" th:text="${tickerName}" th:selected="true" th:name="coinName">-->
<!--                </option>-->
<!--            </select>-->
            <label for="coinName">코인 이름</label>
            <input type="text" id="coinName" name="coinName" placeholder="코인 이름">

            <label for="totalBudget">총 예산</label>
            <input type="number" id="totalBudget" name="totalBudget" placeholder="총 예산">
        </div>
        <button type="submit">등록</button>
    </form>

</body>
</html>