<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/start" method="post">
        <div class="form-group">
            <p>업비트 open api 키 발급이 선행되어야 함(https://www.upbit.com/service_center/open_api_guide)</p>
            <label for="accessKey">accessKey</label>
            <input type="text" id="accessKey" name="accessKey" placeholder="accessKey">
            <label for="secretKey">secret_key</label>
            <input type="text" id="secretKey" name="secretKey" placeholder="secretKey">
            <label for="name">name</label>
            <input type="text" id="name" name="name" placeholder="name">
        </div>
        <button type="submit">완료</button>
    </form>
</div> <!-- /container -->
</body>
</html>